/*FONT-FASE*/
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Light.woff2") format("woff2"),
    url("../fonts/NunitoSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-SemiBold.woff2") format("woff2"),
    url("../fonts/NunitoSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Regular.woff2") format("woff2"),
    url("../fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-ExtraBold.woff2") format("woff2"),
    url("../fonts/NunitoSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Bold.woff2") format("woff2"),
    url("../fonts/NunitoSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-ExtraLight.woff2") format("woff2"),
    url("../fonts/NunitoSans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/*CUSTOM-PROPS*/
:root {
  --body__bg-light: #f2f2f2;
  --bg__light-item: #ffffff;
  --body__bg-dark: #202c36;
  --bg__dark-item: #2b3844;
  --ligth-color: #111517;
  --dark-color: #ffffff;
}

/*UNIVERSAL*/
.heading {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}
.heading-light {
  color: var(--ligth-color);
}
.heading-dark {
  color: var(--dark-color);
}

.title {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 15px;
}
.title-light {
  color: var(--ligth-color);
}
.title-dark {
  color: var(--dark-color);
}

.text {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
}
.text-light {
  color: var(--ligth-color);
}
.text-dark {
  color: var(--dark-color);
}

.text__asied {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}
.text__asied-ligth {
  color: var(--ligth-color);
}
.text__asied-dark {
  color: var(--dark-color);
}

/*GLOBAL*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Nunito Sans", "Arial", sans-serif;
  color: var(--black);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0 60px;
  margin: 0 auto;
}

.dark-body {
  background-color: var(--bg__dark-item);
  color: var(--dark-color);
}
.dark-body .countries__main {
  background-color: var(--body__bg-dark);
}
.dark-body .countries__list {
  background-color: var(--bg__dark-item);
}
.dark-body .hero__search-item {
  background-color: var(--bg__dark-item);
}
.dark-body .filtr__region {
  background-color: var(--bg__dark-item);
}
.dark-body * {
  color: var(--dark-color) !important;
}
/*HEADER*/
.countries__header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
/*MAIN*/
.countries__main {
  background-color: var(--body__bg-light);
}

/*HERO*/
.countries__hero-content {
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
}
.hero__search-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #848484;
  padding: 15px 200px 15px 15px;
  border: transparent;
  border-radius: 5px;
}
.filtr__region {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--ligth-color);
  padding: 15px 70px 15px 25px;
  border: transparent;
  border-radius: 5px;
}

/*INFORMATIONS*/
.information {
  padding-bottom: 45px;
}
.countries__content-top,
.countries__content-bottom {
  display: flex;
  gap: 50px;
}
.countries__content-top {
  margin-bottom: 65px;
}
.countries__list {
  background-color: var(--bg__light-item);
}
.countries__img {
  width: 290px;
  margin-bottom: 25px;
}
.countries__list-item {
  padding: 35px 20px;
  padding-top: 0;
}
